<mat-sidenav-container class="sidenav-container">
  <!-- [mode]="(isHandset$ | async) ? 'over' : 'side'" -->
  <!-- [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
   [opened]="!(isHandset$ | async)"
  -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false" position="end"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false">
    <mat-toolbar>القائمه</mat-toolbar>
    <mat-nav-list class="float-right">
      <!-- <button mat-button [matMenuTriggerFor]="menu"><img class="left-angle-style" style="direction: rtl"
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAPFBMVEVHcEwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACHr/7WAAAAE3RSTlMAK8DozWNkFf0SZw8oYLL+6dEmcxEPXQAAAGVJREFUSMft1MsOQDAQRuEqrbpf5v3flQQLDeJYiMSc/ZdJu/iN0bRdTU2FD31ChQgzZSdzLbwhkhUqviSGMT+vOhLXWSwi4ji5ZSKyGvL8zZBPVvOm4aO03EnhXLpAxZMZ1/7SBCzqFTK+FUtSAAAAAElFTkSuQmCC">
        قائمه فرعيه</button> -->


      <!-- <mat-menu style="direction: rtl" #menu="matMenu">
         <a style="direction: rtl" mat-menu-item routerLink="/area" routerLinkActive="active"
        (click)="drawer.toggle()">اضافه منطقه</a>
      </mat-menu> -->


      <a style="direction: rtl" mat-list-item routerLink="/area" routerLinkActive="active"
        (click)="drawer.toggle()">اضافه منطقه</a>

      <a style="direction: rtl" mat-list-item routerLink="/diseases" routerLinkActive="active"
        (click)="drawer.toggle()">اضافه مرض</a>

      <a style="direction: rtl" mat-list-item routerLink="/government" routerLinkActive="active"
        (click)="drawer.toggle()">اضافه حكومه</a>

      <a style="direction: rtl" mat-list-item routerLink="/gender" routerLinkActive="active"
        (click)="drawer.toggle()">اضافه نوع</a>

      <a style="direction: rtl" mat-list-item routerLink="/jobs" routerLinkActive="active"
        (click)="drawer.toggle()">اضافه وظيفه</a>

      <a style="direction: rtl" mat-list-item routerLink="/matyerialstate" routerLinkActive="active"
        (click)="drawer.toggle()"> اضافه الحالة الاجتماعيه </a>

      <a style="direction: rtl" mat-list-item routerLink="/researchtype" routerLinkActive="active"
        (click)="drawer.toggle()">اضافه نوع بحث </a>
      <a style="direction: rtl" mat-list-item routerLink="/userroles" routerLinkActive="active"
        (click)="drawer.toggle()">اضافه دور المستخدم </a>

      <a style="direction: rtl" mat-list-item routerLink="/branch" routerLinkActive="active"
        (click)="drawer.toggle()">اضافه فرع </a>




      <a style="direction: rtl" mat-list-item routerLink="/users" routerLinkActive="active" (click)="drawer.toggle()">
        اضافه مستخدم </a>
      <a style="direction: rtl" mat-list-item routerLink="/cases" routerLinkActive="active" (click)="drawer.toggle()">
        اضافه حاله </a>




      <a mat-list-item routerLink="/login" routerLinkActive="active" (click)="logOut(drawer)">خروج</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- *ngIf="isHandset$ | async" -->
    <mat-toolbar color="primary" class="float-right">
      <mat-toolbar-row>
        <span class="example-spacer"></span>
        <span> برنامج تكافل </span>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isAuthorized">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

      </mat-toolbar-row>
    </mat-toolbar>
    <!-- Add Content Here -->
    <!-- for production -->
    <app-login (isAuthorized)='isAuthorized=$event' *ngIf='!isAuthorized'></app-login>
    <div id="imageContainer" *ngIf='isAuthorized'>
      <router-outlet></router-outlet>
    </div>

    <!-- for test -->
    <!-- <app-create-branch></app-create-branch> -->

  </mat-sidenav-content>
</mat-sidenav-container>